.sectionTitle {
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2em;
  text-transform: uppercase;
  margin: 0;
}
.divider {
  margin: 0.1rem 0;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  line-height: 10%;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 810px) {
  .sectionTitle {
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: -0.9px;
  }
  .divider {
    font-size: 12px;
    line-height: 20%;
    letter-spacing: 0.2em;
  }
}
